<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FirstBase</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/testdetailview.css">


    <!-- javascript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=N4U9SJyL2gHum0hz1FK4"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/async.js"></script>

</head>
<body>
<div id="main">
    <div id="nav-area">
        <div id="top-left-area">
            <div id="logo-img">
                <a href="../../"><img src="/img/layout/logo.png"></a>
            </div>
            <div id="logo-img-letter">
                <a id="brand" href="../../"><img src="/img/layout/logo-letter.png"></a>
            </div>
            <div id="navbar-nav">
                <div id="nav-item">
                    <a class="nav-link" href="#">서비스 소개</a>
                </div>
                <div id="nav-item">
                    <a class="nav-link" href="#">사용법</a>
                </div>
                <div id="top-search">
                    <input type="search" class="form-control" name="search" id="search" placeholder="Search"/>
                    <div class="search-button">
                        <button class="btn" type="button">
                            <img src="/img/layout/search.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="top-right-area">
            <div id="chat-button">
                <div id="chat-img">
                    <img src="/img/layout/chat.png">
                </div>
            </div>
            <div id="login-register-button">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal">로그인</button>
            </div>
        </div>
    </div>

    <div id="main-area">
        <div class="content-title-area">
            <a>
                <img src="<%= profileUrl %>"
                     alt="http://d2w40mi5mo8vk7.cloudfront.net/profile-default.png"
                     class="img-thumbnail"
                     id="icon-image"
                     style="margin:15px;"
                >
            </a>
            <div class="profile-detail">
                <div>
                    <a href="#"><h2 id="displayName"><%= displayName %></h2></a>
                </div>
                <div>
                    <ul class="profile-activity-list">
                        <li class="activity-col">
                            <a href="#">게시물 <%= history.length %></a>
                        </li>
                        <li class="activity-col">
                            <a href="#">팔로워 <%= countFollower %></a>
                        </li>
                        <li class="activity-col">
                            <a href="#">팔로우 <%= countFollowing %></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="profile-description">
            <div>
                <h3 id="description-intro"> 자 기 소 개 </h3>
            </div>
            <h5 id="description">
                <%= description %>
            </h5>
        </div>

        <hr>

        <div class="profile-description">
            <div>
                <h3 id="description-intro"> 발자취 </h3>
            </div>
        </div>

        <div class="detail-text-area">
            <h4 id="detail-text"></h4>
        </div>
    </div>

</div>


<script type="text/javascript" src="/js/profile.js" defer></script>
</body>
</html>